<style>
  .hide {
    display: none;
    overflow: hidden;
  }
</style>

<div class="card text-center hide" id="content">
    <div class="card-header">
      <h3 class="card-title"><%= company.name %></h3>
      <small>Address: <%= company.address %></small>
      <p class="card-text">Product/Services provided: <%= company.compDesc %></p>
  </div>
</div>