<%- include('includes/start.ejs') %>
<title>About</title>
</head>

<%- include('includes/header.ejs') %>

<div class="jumbotron text-center text-body bg-light" style="height: 82vh">
  <h1 class="display-4">Hello, Leaders!</h1>
  <p class="lead">Here we are to make your life work life easier.</p>
  <hr class="my-4">
  <p>
    Manager is a service which assists you with assigning and keeping track of tasks within your organization.
  </p>
  <a class="btn btn-primary btn-lg" href="/signup" role="button" style="margin-right: 15px">signup</a>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>

<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>